include ../../mixins/svg_sprite


.container
    .content-description-home
        .content-description-ellipses
            .container-content-ellipse
                img(
                    src="img/ellipse-home-1.svg"
                    style="width: 1238px; height: 777px; top: -153px"
                )

                img(
                    src="img/ellipse-home-2.svg"
                    style="width: 1034px; height: 677px; top: -130px"
                )

                img(
                    src="img/ellipse-home-3.svg"
                    style="width: 818px; height: 553px; top: -74px;"
                )

                .container-ellipses-center
                    img(
                        src="img/ellipse-home-4.svg"
                        style="width: 628px; height: 530px; top: 6px;"
                    )

                    .ellipse
                        h2 В поисках выгодного тарифа?
                        p
                            | Найти хорошие условия услуг связи довольно непростая задача, <br>
                            | но с Tarif — это легко!

                .container-small-ellipse(style="width: 92px; height: 92px; top: 36px; right: 3px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 56px; width: 56px")

                .container-small-ellipse(style="width: 114px; height: 114px; top: 167px; right: 38px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 69px; width: 69px")

                .container-small-ellipse(style="width: 90px; height: 90px; top: 56px; right: 220px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 54px; width: 54px")

                .container-small-ellipse(style="width: 60px; height: 60px; top: 224px; right: 265px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 36px; width: 36px")

                .container-small-ellipse(style="width: 90px; height: 90px; top: 83px; left: 300px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 54px; width: 54px")

                .container-small-ellipse(style="width: 88px; height: 88px; top: 183px; left: 161px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 53px; width: 53px")

                .container-small-ellipse(style="width: 114px; height: 114px; top: 20px; left: 104px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 69px; width: 69px")

                .container-small-ellipse(style="width: 92px; height: 92px; top: 148px; left: -38px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 56px; width: 56px")
