include ../../mixins/svg_sprite


.container
    .content-card
        .content-description-home
            .content-description-tariff
                .container-ellipses
                    img(
                        src="img/ellipse-home-1.svg"
                        style="width: 1238px; height: 777px; top: -153px"
                    )

                    img(
                        src="img/ellipse-home-2.svg"
                        style="width: 1034px; height: 677px; top: -128px"
                    )

                    img(
                        src="img/ellipse-home-3.svg"
                        style="width: 818px; height: 553px; top: -73px;"
                    )

                    img(
                        src="img/ellipse-home-4.svg"
                        style="width: 628px; height: 530px; top: 6px;"
                    )

                    .container-full-ellipse
                        .ellipse
                            h2
                                | В поисках <br>
                                | выгодного тарифа?
                            p
                                | Найти хорошие условия услуг связи <br>
                                | довольно непростая задача, <br>
                                | но с Tarif — это легко!



//left: -22px; top: -153px
//left: 82px; top: -128px
// left: 189px width: 820px
//left: 284px width: 630px
