include ../../mixins/svg_sprite

//- new Array(3) -> [undefined, undefined, undefined]

.container
    .content-home
        .content-heading-tariff
            .container-content-ellipses
                img(
                    src="img/ellipse-home-1.svg"
                    style="width: 1238px; height: 777px; top: -271px"
                )

                img(
                    src="img/ellipse-home-2.svg"
                    style="width: 1034px; height: 677px; top: -130px"
                )

                img(
                    src="img/ellipse-home-3.svg"
                    style="width: 818px; height: 553px; top: -74px;"
                )

                .container-ellipses-center
                    img(
                        src="img/ellipse-home-4.svg"
                        style="width: 628px; height: 530px; top: 6px;"
                    )

                    .ellipse
                        h2 В поисках выгодного тарифа?
                        p
                            | Найти хорошие условия услуг связи довольно непростая задача, <br>
                            | но с Tarif — это легко!

                .container-small-ellipse(style="width: 92px; height: 92px; top: 55px; right: -143px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 56px; width: 56px")

                .container-small-ellipse(style="width: 114px; height: 114px; top: 167px; right: -323px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 69px; width: 69px")

                .container-small-ellipse(style="width: 90px; height: 90px; top: 37px; right: -358px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 54px; width: 54px")

                .container-small-ellipse(style="width: 60px; height: 60px; top: 224px; right: -97px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 36px; width: 36px")

                .container-small-ellipse(style="width: 90px; height: 90px; top: 83px; left: -61px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 54px; width: 54px")

                .container-small-ellipse(style="width: 88px; height: 88px; top: 183px; left: -201px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 53px; width: 53px")

                .container-small-ellipse(style="width: 114px; height: 114px; top: 20px; left: -258px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 69px; width: 69px")

                .container-small-ellipse(style="width: 92px; height: 92px; top: 148px; left: -399px;")
                    .small-ellipse
                        .small-ellipse-center(style="height: 56px; width: 56px")

            .container-category
                a(href="#")
                    .item-category(style="background: linear-gradient(145.92deg, #FD7A01 1.08%, #FCC12F 100%)")
                        h2
                            | Пакеты <br/>
                            | 3 в 1
                        .container-icon-category(style="width: 106px; height: 96px; top: 60px; right: 30px")
                            img(src="img/item-category-1.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

                a(href="#")
                    .item-category(style="background: linear-gradient(145.77deg, #FF5040 1.08%, #F57052 100%)")
                        h2 Интернет
                        .container-icon-category(style="width: 104px; height: 98px; top: 60px; right: 30px")
                            img(src="img/item-category-2.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

                a(href="#")
                    .item-category(style="background: linear-gradient(145.77deg, #D73546 1.08%, #EF5260 100%)")
                        h2
                            | Сотовая <br/>
                            | связь
                        .container-icon-category(style="width: 77px; height: 96px; top: 60px; right: 27px")
                            img(src="img/item-category-3.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

                a(href="#")
                    .item-category(style="background: linear-gradient(145.77deg, #7E50FF 1.08%, #A933F2 100%)")
                        h2
                            | Теле- <br/>
                            | видение
                        .container-icon-category(style="width: 75px; height: 99px; top: 58px; right: 20px")
                            img(src="img/item-category-4.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

        .content-description-text
            p Tarif это зафиксированная на каком-либо материальном носителе человеческая мысль, в общем плане связная и полная последовательность символов. Существуют две основные трактовки понятия текст: имманентная и репрезентативная, более частная!
            +add_svg({class: "logo-tariff", icon: "logo-tariff"})

        .content-home-description-providers
            h2 Провайдеры
            .content-providers
                .container-block-left
                    .container-providers
                        ul
                            li.item-provider-active Пакеты 3 в 1
                            li Интернет
                            li Сотовая связь
                            li Телевидение
                    .container-providers-logo
                        ul
                            each _ in new Array(8)
                                li
                                    a(href="#")
                                        +add_svg({class: "home-logo-mts", icon: "logo-mts"})


                .home-container-gallery
                    .gallery-slides
                        each _ in new Array(3)
                            .slide
                                .container-text
                                    h5 Более 1 000 человек ежедневно просматривают актуальные предложения услуг связи
                                    p Мы предоставляем свежую информацию по тарифам популярных провайдеров
                                .container-button
                                    a(href="#") Популярные пакеты 3 в 1

                                +add_svg({class: "gallery-pattern", icon: "pattern-slide"})

                                .gallery-container-ellipses
                                    .ellipse.ellipse-top
                                    .ellipse.ellipse-bottom
