include ../../mixins/svg_sprite

.container
    .content-card
        .content-heading
            h1 Контакты

            ul
                li
                    a(href="#") Главная
                    +add_svg({class: "dropdown_right-1", icon: "dropdown_right"})
                li Контакты


        .content-description-contacts
            .content-forms
                label.label-contacts
                    input(type="text"
                    placeholder="Имя"
                    name="name"
                    ).input-contacts

                label.label-contacts
                    input(type="email"
                    placeholder="Почта"
                    name="email"
                    ).input-contacts

                label.label-contacts
                    input(type="tel"
                    placeholder="05 ________"
                    name="phone"
                    ).input-contacts.input-contacts-phone

                textarea(name="comment"
                placeholder="Ваше сообщение").textarea-contacts

                .container-forms-footer
                    .privacy-policy-contacts
                        span Нажимая на кнопку отправить,
                        span вы соглашаетесь с #[a(href="#") политикой конфиденциальности]

                    .container-button-contacts
                        button(type="submit").button-send Отправить

            .content-sosial-contacts
                h3 Соц. сети
                .container-social-contacts
                    .container-icon
                        a(href="#").social-icon-contacts.social-icon-contacts-facebook
                            +add_svg({class: "contacts-icon-facebook", icon: "facebook"})
                        span Мы в Facebook
                    .container-icon
                        a(href="#").social-icon-contacts.social-icon-contacts-instagram
                            +add_svg({class: "contacts-icon-instagram", icon: "instagram"})
                        span Мы в Instagram

        .content-category
            h1 Категории
            .container-category
                a(href="#")
                    .item-category(style="background: linear-gradient(145.92deg, #FD7A01 1.08%, #FCC12F 100%)")
                        h2
                            | Пакеты <br/>
                            | 3 в 1
                        .container-icon-category(style="width: 106px; height: 96px; top: 60px; right: 30px")
                            img(src="img/item-category-1.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

                a(href="#")
                    .item-category(style="background: linear-gradient(145.77deg, #FF5040 1.08%, #F57052 100%)")
                        h2 Интернет
                        .container-icon-category(style="width: 104px; height: 98px; top: 58px; right: 31px")
                            img(src="img/item-category-2.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

                a(href="#")
                    .item-category(style="background: linear-gradient(145.77deg, #D73546 1.08%, #EF5260 100%)")
                        h2
                            | Сотовая <br/>
                            | связь
                        .container-icon-category(style="width: 77px; height: 96px; top: 61px; right: 29px")
                            img(src="img/item-category-3.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})

                a(href="#")
                    .item-category(style="background: linear-gradient(145.77deg, #7E50FF 1.08%, #A933F2 100%)")
                        h2
                            | Теле- <br/>
                            | видение
                        .container-icon-category(style="width: 75px; height: 99px; top: 58px; right: 20px")
                            img(src="img/item-category-4.svg")
                        +add_svg({class: "category-icon-arrow", icon: "arrow"})



