//.content-description-services(title)
//    h2 Сотовая связь
//    .content-info-service
//        .container-button
//            button Отправить заявку
//        .container-cost
//            h4= title

            //p= text-cost-top
        //.container-description-tarif
            h4= title-tarif-top
            p= text-tarif-top
    //.content-info-service
        .container-button
            button Отправить заявку
        .container-cost
            h4= text-tarif-top
            p= text-tarif-top
        .container-description-tarif
            h4= text-tarif-top
            p = text-tarif-top

            //text-cost-top, title-tarif-top, text-tarif-top


mixin pet(name)
    li.pet= name
